In [86]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
df_bicis = pd.read_csv('/home/bigdata/BicisCorunha/datos_citybikes/bicicorunha_data.csv')

In [88]:
df_bicis

,Unnamed: 0,id,name,timestamp,free_bikes,empty_slots,uid,last_updated,slots,normal_bikes,ebikes
0,0,023efce1bbb332a1b918d56aeb671890,Avenida de Arteixo,2024-12-08T15:42:39.108553Z,8,7,53,1733672393,15,8,0
1,1,02cecd02915c86d7ab8034b61b19da0e,Mercado de Monte Alto,2024-12-08T15:42:39.108441Z,0,14,43,1733672357,15,0,0
2,2,030c4027b0bea390e562645c7082db4c,Los Rosales,2024-12-08T15:42:39.108049Z,5,20,11,1733672462,25,3,2
3,3,0e3aa0134a2f3d07ae5bd093e6af9a33,Plaza de Portugal,2024-12-08T15:42:39.108579Z,7,13,55,1733672439,20,7,0
4,4,104e0797759d11ac22a61cfed357800b,Ventorrillo,2024-12-08T15:42:39.108261Z,12,7,27,1733672469,19,11,1
...,...,...,...,...,...,...,...,...,...,...,...
1333824,1333824,f04ee4ffca2a6f3daacba88a9eee8487,Millenium,2025-01-15T12:27:51.747659Z,1,14,56,1736943916,15,1,0
1333825,1333825,f702a7b2b1631ace3781c405acb99b70,Praza de Ourense,2025-01-15T12:27:51.747406Z,14,0,41,1736944004,15,14,1
1333826,1333826,f86954a7b51703f735bce5b549cb4e16,Parque del Agra,2025-01-15T12:27:51.747479Z,6,9,45,1736943932,15,6,0
1333827,1333827,fb0d3f40ea7570546b171b43ccd57a2a,Rosales-Labañou,2025-01-15T12:27:51.747496Z,6,9,46,1736944001,15,6,0
1333828,1333828,fee1ae73b32ffb83e1bf3f6e83e616b7,Centro Cívico Monelos,2025-01-15T12:27:51.746782Z,5,10,21,1736943880,15,3,2

In [89]:
df_bicis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333829 entries, 0 to 1333828
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1333829 non-null  int64
 1   id            1333829 non-null  object
 2   name          1333829 non-null  object
 3   timestamp     1333829 non-null  object
 4   free_bikes    1333829 non-null  int64
 5   empty_slots   1333829 non-null  int64
 6   uid           1333829 non-null  int64
 7   last_updated  1333829 non-null  int64
 8   slots         1333829 non-null  int64
 9   normal_bikes  1333829 non-null  int64
 10  ebikes        1333829 non-null  int64
dtypes: int64(8), object(3)
memory usage: 111.9+ MB

In [90]:
df_bicis = df_bicis.drop(["Unnamed: 0"], axis=1)

In [91]:
#Elimina rexistros duplicados.

df_bicis = df_bicis.drop_duplicates()

In [92]:
df_bicis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890281 entries, 0 to 1333828
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            890281 non-null  object
 1   name          890281 non-null  object
 2   timestamp     890281 non-null  object
 3   free_bikes    890281 non-null  int64
 4   empty_slots   890281 non-null  int64
 5   uid           890281 non-null  int64
 6   last_updated  890281 non-null  int64
 7   slots         890281 non-null  int64
 8   normal_bikes  890281 non-null  int64
 9   ebikes        890281 non-null  int64
dtypes: int64(7), object(3)
memory usage: 74.7+ MB

In [93]:
df_bicis

,id,name,timestamp,free_bikes,empty_slots,uid,last_updated,slots,normal_bikes,ebikes
0,023efce1bbb332a1b918d56aeb671890,Avenida de Arteixo,2024-12-08T15:42:39.108553Z,8,7,53,1733672393,15,8,0
1,02cecd02915c86d7ab8034b61b19da0e,Mercado de Monte Alto,2024-12-08T15:42:39.108441Z,0,14,43,1733672357,15,0,0
2,030c4027b0bea390e562645c7082db4c,Los Rosales,2024-12-08T15:42:39.108049Z,5,20,11,1733672462,25,3,2
3,0e3aa0134a2f3d07ae5bd093e6af9a33,Plaza de Portugal,2024-12-08T15:42:39.108579Z,7,13,55,1733672439,20,7,0
4,104e0797759d11ac22a61cfed357800b,Ventorrillo,2024-12-08T15:42:39.108261Z,12,7,27,1733672469,19,11,1
...,...,...,...,...,...,...,...,...,...,...
1333824,f04ee4ffca2a6f3daacba88a9eee8487,Millenium,2025-01-15T12:27:51.747659Z,1,14,56,1736943916,15,1,0
1333825,f702a7b2b1631ace3781c405acb99b70,Praza de Ourense,2025-01-15T12:27:51.747406Z,14,0,41,1736944004,15,14,1
1333826,f86954a7b51703f735bce5b549cb4e16,Parque del Agra,2025-01-15T12:27:51.747479Z,6,9,45,1736943932,15,6,0
1333827,fb0d3f40ea7570546b171b43ccd57a2a,Rosales-Labañou,2025-01-15T12:27:51.747496Z,6,9,46,1736944001,15,6,0
1333828,fee1ae73b32ffb83e1bf3f6e83e616b7,Centro Cívico Monelos,2025-01-15T12:27:51.746782Z,5,10,21,1736943880,15,3,2

In [94]:
df_bicis["timestamp"] = df_bicis["timestamp"].str.rstrip('Z')

df_bicis["timestamp"] = pd.to_datetime(df_bicis['timestamp'], errors='coerce')

df_bicis

,id,name,timestamp,free_bikes,empty_slots,uid,last_updated,slots,normal_bikes,ebikes
0,023efce1bbb332a1b918d56aeb671890,Avenida de Arteixo,2024-12-08 15:42:39.108553,8,7,53,1733672393,15,8,0
1,02cecd02915c86d7ab8034b61b19da0e,Mercado de Monte Alto,2024-12-08 15:42:39.108441,0,14,43,1733672357,15,0,0
2,030c4027b0bea390e562645c7082db4c,Los Rosales,2024-12-08 15:42:39.108049,5,20,11,1733672462,25,3,2
3,0e3aa0134a2f3d07ae5bd093e6af9a33,Plaza de Portugal,2024-12-08 15:42:39.108579,7,13,55,1733672439,20,7,0
4,104e0797759d11ac22a61cfed357800b,Ventorrillo,2024-12-08 15:42:39.108261,12,7,27,1733672469,19,11,1
...,...,...,...,...,...,...,...,...,...,...
1333824,f04ee4ffca2a6f3daacba88a9eee8487,Millenium,2025-01-15 12:27:51.747659,1,14,56,1736943916,15,1,0
1333825,f702a7b2b1631ace3781c405acb99b70,Praza de Ourense,2025-01-15 12:27:51.747406,14,0,41,1736944004,15,14,1
1333826,f86954a7b51703f735bce5b549cb4e16,Parque del Agra,2025-01-15 12:27:51.747479,6,9,45,1736943932,15,6,0
1333827,fb0d3f40ea7570546b171b43ccd57a2a,Rosales-Labañou,2025-01-15 12:27:51.747496,6,9,46,1736944001,15,6,0
1333828,fee1ae73b32ffb83e1bf3f6e83e616b7,Centro Cívico Monelos,2025-01-15 12:27:51.746782,5,10,21,1736943880,15,3,2

In [95]:
df_tiempo = df_bicis[["timestamp"]]

df_tiempo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890281 entries, 0 to 1333828
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  890280 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 13.6 MB

In [96]:
df_tiempo.drop_duplicates()

                         timestamp
0       2024-12-08 15:42:39.108553
1       2024-12-08 15:42:39.108441
2       2024-12-08 15:42:39.108049
3       2024-12-08 15:42:39.108579
4       2024-12-08 15:42:39.108261
...                            ...
1333824 2025-01-15 12:27:51.747659
1333825 2025-01-15 12:27:51.747406
1333826 2025-01-15 12:27:51.747479
1333827 2025-01-15 12:27:51.747496
1333828 2025-01-15 12:27:51.746782

[890281 rows x 1 columns]

In [98]:
df_tiempo["Diferencia"] = df_tiempo["timestamp"].diff()

/tmp/ipykernel_8816/1231170782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiempo["Diferencia"] = df_tiempo["timestamp"].diff()

In [99]:
df_tiempo['tiempo_diferencia_segundos'] = df_tiempo["Diferencia"].dt.total_seconds()

df_tiempo

/tmp/ipykernel_8816/681238995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiempo['tiempo_diferencia_segundos'] = df_tiempo["Diferencia"].dt.total_seconds()

,timestamp,Diferencia,tiempo_diferencia_segundos
0,2024-12-08 15:42:39.108553,NaT,NaN
1,2024-12-08 15:42:39.108441,-1 days +23:59:59.999888,-0.000112
2,2024-12-08 15:42:39.108049,-1 days +23:59:59.999608,-0.000392
3,2024-12-08 15:42:39.108579,0 days 00:00:00.000530,0.000530
4,2024-12-08 15:42:39.108261,-1 days +23:59:59.999682,-0.000318
...,...,...,...
1333824,2025-01-15 12:27:51.747659,0 days 00:00:00.001122,0.001122
1333825,2025-01-15 12:27:51.747406,-1 days +23:59:59.999747,-0.000253
1333826,2025-01-15 12:27:51.747479,0 days 00:00:00.000073,0.000073
1333827,2025-01-15 12:27:51.747496,0 days 00:00:00.000017,0.000017
1333828,2025-01-15 12:27:51.746782,-1 days +23:59:59.999286,-0.000714

In [102]:
df_bicis

,id,name,timestamp,free_bikes,empty_slots,uid,last_updated,slots,normal_bikes,ebikes
0,023efce1bbb332a1b918d56aeb671890,Avenida de Arteixo,2024-12-08 15:42:39.108553,8,7,53,1733672393,15,8,0
1,02cecd02915c86d7ab8034b61b19da0e,Mercado de Monte Alto,2024-12-08 15:42:39.108441,0,14,43,1733672357,15,0,0
2,030c4027b0bea390e562645c7082db4c,Los Rosales,2024-12-08 15:42:39.108049,5,20,11,1733672462,25,3,2
3,0e3aa0134a2f3d07ae5bd093e6af9a33,Plaza de Portugal,2024-12-08 15:42:39.108579,7,13,55,1733672439,20,7,0
4,104e0797759d11ac22a61cfed357800b,Ventorrillo,2024-12-08 15:42:39.108261,12,7,27,1733672469,19,11,1
...,...,...,...,...,...,...,...,...,...,...
1333824,f04ee4ffca2a6f3daacba88a9eee8487,Millenium,2025-01-15 12:27:51.747659,1,14,56,1736943916,15,1,0
1333825,f702a7b2b1631ace3781c405acb99b70,Praza de Ourense,2025-01-15 12:27:51.747406,14,0,41,1736944004,15,14,1
1333826,f86954a7b51703f735bce5b549cb4e16,Parque del Agra,2025-01-15 12:27:51.747479,6,9,45,1736943932,15,6,0
1333827,fb0d3f40ea7570546b171b43ccd57a2a,Rosales-Labañou,2025-01-15 12:27:51.747496,6,9,46,1736944001,15,6,0
1333828,fee1ae73b32ffb83e1bf3f6e83e616b7,Centro Cívico Monelos,2025-01-15 12:27:51.746782,5,10,21,1736943880,15,3,2

In [105]:
df_Tiempo_Bicis = df_bicis[["timestamp", "empty_slots", "name"]]

/tmp/ipykernel_8816/370535027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Tiempo_Bicis.name="Avenida de Arteixo"